@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');


.dashboard{
    width: 100%;
    background: white;
    display: flex;
}

.menu{
    width: 320px;
    height: 100vh;
    border-radius:0 20px 20px  0;
    background: #FBFBFB;
}

.menu-bar{
    margin-top: 126px;

}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 57px;
    height: 67px;
}

.logo h1{
    color: #00302E;
    font-family: 'Poppins', inherit;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.list-group{
    margin-top: 112px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.list-item{
    padding-left: 15px;
    padding-right: 15px;
    width: 267px;
    height: 50px;
    cursor: pointer;
}

.list-item:hover{
    border-radius: 12px;
    background: #EFEFEF;
    font-weight: bold;
}

.list-item:nth-child(1){
    border-radius: 12px;
    background: #EFEFEF;
    font-weight: bold;
}

.list-item a{
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}

.user-and-foods{
    width: 70%;
    margin: auto;
    height: 100vh;
}

.user-block{
    margin-top: 140px;
}

.user-and-foods-block{
    margin-top: 140px;
}

.user-dara h2{
    color: #00302E;
    font-family: inherit;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

.user-dara p{
    color: rgba(0, 0, 0, 0.69);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.dashboard-foods{
    margin-top: 53px;
    display: flex;
    gap: 118px;
}

.dashboard-food{
    border-radius: 5px;
    border: 0.3px solid rgba(0, 48, 46, 0.14);
    background: rgba(255, 255, 255, 0.83);
    height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 29px;
    padding-right: 14px;
}

.dashboard-food img{
    margin-top: 47px;
    width: 90px;
    height: 90px;
}

.dashboard-food h3{
    margin-top: 13px;
    color: #00302E;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

.about-food {
    width: 70%;
    color: rgba(0, 0, 0, 0.69);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.food-price{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #00302E;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.food-price a{
    color: #06E775;
    text-align: right;
    justify-content: space-around;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    text-decoration: none;
}

.modal-container{
    margin-top: 52px;
    padding-left: 63px;
    padding-right: 63px;
}

.your-cart-modal{
    margin-top: 24px;
}

.cart-title h3{
    color: #00302E;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
}

.user-image{
    position: relative;
    border-radius: 50px;

}

.user-image input{
    opacity: 0.0;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;

}

.user-image img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
}