@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

.all-cart-data{
    display: flex;
    flex-direction: column;
    gap: 60px;
}



.cart-food-data{
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
    width: 100%;
}

.cart-food-img{
    display: flex;
    align-items: start;
    gap: 15px;
}

.cart-food-img p{
    cursor: pointer;
    color: #C92C33;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
}

.cart-food-img img{
    width: 70px;
}

.cart-food-img h3{
    color: #00302E;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.cart-food-data h3{
    color: #00302E;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
}

.about-cart-data{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 200px;
}

.Checkout{
    display: flex;
    justify-content: center;
}

.Checkout button{
    cursor: pointer;
    color: #F3C294;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    background: #00302E;
    width: 479px;
    height: 60px;
    border-radius: 0 0 0 0;
}