@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.header-logo img{
    width: 57px;
}

.header-logo{
    display: flex;
    align-items: end;
}

.header-logo h1{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.header-list li {
    width: 142px;
    height: 53px;
   list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.header-list li:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    background: #E2B887;
}

